*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
    display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto auto auto;
 
  width: 100%;

  }
  
  .box {
    width: 20%;
    height: 300px;
    background-color: #ce8c8c;
    text-align: center;
  
  }
    
  @media (max-width: 1250px) {
    .box {
      width:30%; 
     
    }
    main{
      gap: 30px;
    }
  }
  
  
  @media (max-width: 1024px) {
    .box {
      width:45%;

    }
    main{
      gap: 30px;
      
  }
}
  
  @media (max-width: 639px) {
    .box {
      width:100%;
     
    }
    main{
      gap: 30px;
      
  }
}
@media (max-width: 258px) {
  .box {
    width:100%;
   
  }
  main{
    gap: 30px;
    
}
}


   
  